.custom-row {
    width: 1170px; /* Atur lebar sesuai kebutuhan Anda */
    height: 56px; /* Atur tinggi sesuai kebutuhan Anda */
}

.custom-col-md-12 {
    width: 1170px;
    height: 51px;
}

.custom-row-2 {
    width: 1140px;
    height: 51px;
}